.e8_28 { 
	width:1440px;
	height:1024px;
	position:absolute;
	background-image:url(desktop___1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_29 { 
	width:489px;
	height:636px;
	position:absolute;
	left:436px;
	top:194px;
}
.e8_30 { 
	background-color:rgba(255, 255, 255, 1);
	width:489px;
	height:636px;
	position:absolute;
	left:0px;
	top:0px;
	font-weight: bold;
}
.e8_31 { 
	color:rgba(0, 0, 0, 1);
	width:119.7551040649414px;
	height:44px;
	position:absolute;
	left:184.62245178222656px;
	top:102px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e8_32 { 
	color:rgba(193.37499797344208, 193.37499797344208, 193.37499797344208, 1);
	width:60.875511169433594px;
	height:17px;
	position:absolute;
	left:213.56326293945312px;
	top:569px;
	font-family:Khand;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}
.e8_33 { 
	color:rgba(193.37499797344208, 193.37499797344208, 193.37499797344208, 1);
	width:72px;
	height:17px;
	position:absolute;
	left:209px;
	top:589px;
	font-family:Khand;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}
.e8_34 { 
	width:389px;
	height:46px;
	position:absolute;
	left:484px;
	top:424px;
}
.e8_35 { 
	background-color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:389px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e8_36 { 
	color:rgba(193.37499797344208, 193.37499797344208, 193.37499797344208, 1);
	width:47px;
	height:20px;
	position:absolute;
	left:13px;
	top:13px;
	font-family:Khand;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e8_37 { 
	width:389px;
	height:46px;
	position:absolute;
	left:484px;
	top:364px;
}
.e8_38 { 
	background-color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:389px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e8_39 { 
	color:rgba(193.37499797344208, 193.37499797344208, 193.37499797344208, 1);
	width:48px;
	height:20px;
	position:absolute;
	left:13px;
	top:13px;
	font-family:Khand;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e8_40 { 
	width:93px;
	height:14px;
	position:absolute;
	left:484px;
	top:498px;
}
.e8_41 { 
	background-color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:1px;
	border-top-right-radius:1px;
	border-bottom-left-radius:1px;
	border-bottom-right-radius:1px;
}
.e8_42 { 
	color:rgba(0, 0, 0, 1);
	width:74px;
	height:13px;
	position:absolute;
	left:19px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}
.e8_43 { 
	width:84px;
	height:84px;
	position:absolute;
	left:638px;
	top:635px;
}
.e8_44 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:84px;
	height:84px;
	position:absolute;
	left:0.00002002716064453125px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}


