.e8_69 { 
	width:1440px;
	height:1024px;
	position:absolute;
	background-image:url(desktop___1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_70 { 
	color:rgba(255, 255, 255, 1);
	width:729px;
	height:116px;
	position:absolute;
	left:356px;
	top:201px;
	font-family:Inter;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}
.e8_71 { 
	color:rgba(255, 255, 255, 1);
	width:513px;
	height:44px;
	position:absolute;
	left:463px;
	top:351px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e8_72 { 
	width:307px;
	height:351px;
	position:absolute;
	left:559px;
	top:501px;
}
.e8_73 { 
	background-color:rgba(255, 255, 255, 1);
	width:307px;
	height:351px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e8_74 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:245px;
	height:29px;
	position:absolute;
	left:60px;
	top:186px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e8_75 { 
	background-color:rgba(207.1875, 207.1875, 207.1875, 1);
	width:145px;
	height:145px;
	position:absolute;
	left:81px;
	top:26px;
}
.e8_76 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:145px;
	height:145px;
	position:absolute;
	left:0px;
	top:0px;
}

.e8_84 { 
	width:13.181818008422852px;
	height:13.181818008422852px;
	position:absolute;
	left:65.90908813476562px;
	top:79.09095001220703px;
}
.e8_85 { 
	color:rgba(183.81250709295273, 183.81250709295273, 183.81250709295273, 1);
	width:203px;
	height:21px;
	position:absolute;
	left:50px;
	top:240px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e8_86 { 
	width:307px;
	height:351px;
	position:absolute;
	left:949px;
	top:501px;
}
.e8_87 { 
	background-color:rgba(255, 255, 255, 1);
	width:307px;
	height:351px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e8_88 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:193px;
	height:29px;
	position:absolute;
	left:80px;
	top:189px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e8_89 { 
	color:rgba(183.81250709295273, 183.81250709295273, 183.81250709295273, 1);
	width:221px;
	height:76px;
	position:absolute;
	left:43px;
	top:232px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}

.e8_91 { 
  background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
  width:141.7777862548828px;
  height:116px;
  position:absolute;
  left:0px;
  top:0px;
}
.e8_92 { 
  width:141.7777862548828px;
  height:116px;
  position:absolute;
  left:0px;
  top:0px;
}
.e8_93 { 
  width:116px;
  height:90.22222137451172px;
  position:absolute;
  left:12.888877868652344px;
  top:12.888877868652344px;
}
.e8_94 { 
  width:134.65965270996094px;
  height:45.19470977783203px;
  position:absolute;
  left:3.5622622966766357px;
  top:26.458251953125px;
}


.e8_95 { 
	width:307px;
	height:351px;
	position:absolute;
	left:170px;
	top:501px;
}
.e8_96 { 
	background-color:rgba(255, 255, 255, 1);
	width:307px;
	height:351px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}

.e8_100 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:145px;
	height:145px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_101 { 
	width:145px;
	height:145px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_102 { 
	width:118.63636016845703px;
	height:118.63636016845703px;
	position:absolute;
	left:13.181805610656738px;
	top:13.181833267211914px;
}
.e8_103 { 
	width:52.727272033691406px;
	height:59.318180084228516px;
	position:absolute;
	left:46.13636016845703px;
	top:32.95455551147461px;
}
.e8_104 { 
	width:26.363636016845703px;
	height:32.95454406738281px;
	position:absolute;
	left:59.31819534301758px;
	top:46.136390686035156px;
}
.e8_105 { 
	width:105.13285827636719px;
	height:32.95454406738281px;
	position:absolute;
	left:19.93360137939453px;
	top:92.27272033691406px;
}

.e8_106 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:213px;
	height:29px;
	position:absolute;
	left:240px;
	top:690px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e8_107 { 
	color:rgba(183.81250709295273, 183.81250709295273, 183.81250709295273, 1);
	width:221px;
	height:38px;
	position:absolute;
	left:210px;
	top:740px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
