.e8_47 { 
	width:1440px;
	height:1024px;
	position:absolute;
	background-image:url(desktop___1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_48 { 
	width:489px;
	height:636px;
	position:absolute;
	left:436px;
	top:194px;
}
.e8_49 { 
	background-color:rgba(255, 255, 255, 1);
	width:489px;
	height:636px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_50 { 
	color:rgba(0, 0, 0, 1);
	width:141px;
	height:44px;
	position:absolute;
	left:174px;
	top:102px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e8_51 { 
	color:rgba(193.37499797344208, 193.37499797344208, 193.37499797344208, 1);
	width:60.875511169433594px;
	height:17px;
	position:absolute;
	left:213.56326293945312px;
	top:569px;
	font-family:Khand;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}
.e8_52 { 
	color:rgba(193.37499797344208, 193.37499797344208, 193.37499797344208, 1);
	width:72px;
	height:17px;
	position:absolute;
	left:209px;
	top:589px;
	font-family:Khand;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}
.e8_53 { 
	width:389px;
	height:46px;
	position:absolute;
	left:484px;
	top:484px;
}
.e8_54 { 
	background-color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:389px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e8_55 { 
	color:rgba(193.37499797344208, 193.37499797344208, 193.37499797344208, 1);
	width:47px;
	height:20px;
	position:absolute;
	left:13px;
	top:13px;
	font-family:Khand;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e8_56 { 
	width:389px;
	height:46px;
	position:absolute;
	left:484px;
	top:424px;
}
.e8_57 { 
	background-color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:389px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e8_58 { 
	color:rgba(193.37499797344208, 193.37499797344208, 193.37499797344208, 1);
	width:47px;
	height:20px;
	position:absolute;
	left:13px;
	top:13px;
	font-family:Khand;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e8_59 { 
	width:389px;
	height:46px;
	position:absolute;
	left:484px;
	top:364px;
}
.e8_60 { 
	background-color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:389px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e8_61 { 
	color:rgba(193.37499797344208, 193.37499797344208, 193.37499797344208, 1);
	width:48px;
	height:20px;
	position:absolute;
	left:13px;
	top:13px;
	font-family:Khand;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e8_62 { 
	width:93px;
	height:14px;
	position:absolute;
	left:484px;
	top:638px;
}
.e8_63 { 
	background-color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:1px;
	border-top-right-radius:1px;
	border-bottom-left-radius:1px;
	border-bottom-right-radius:1px;
}
.e8_64 { 
	color:rgba(0, 0, 0, 1);
	width:74px;
	height:13px;
	position:absolute;
	left:19px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}
.e8_65 { 
	width:84px;
	height:84px;
	position:absolute;
	left:638px;
	top:635px;
}

.e8_67 { 
	
	width:80px;
	height:80px;
	position:absolute;
	left:2.0000200271606445px;
	top:2px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}

.e8_68 { 
  background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
  width:30px;
  height:28px;
  position:absolute;
  left:27px;
  top:28px;
}
